* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
}

main {
  padding: 20px;
}

#settings,
#quiz,
#results {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid thin #ccc;
}

button {
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

#questionContainer {
  font-size: 1.5rem;
}

#answersContainer button {
  margin-top: 10px; 
}

#questionCount {
  margin-top: 10px; 
}
