@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #5B84C4;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Light";
}

header {
  background-color: #5B84C4;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  font-family: "Roboto-Regular";
}

main {
  padding: 20px;
}

#settings,
#quiz,
#results {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  max-width: 600px;
  margin-left: 25%;
}

label {
  display: block;
  margin-bottom: 2px;
  margin-top: 10px;
}

select,
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: solid thin #ccc;
}

button {
  background-color: #2C599D;
  color: white;
}

button:hover {
  background-color: #11224D;
}

#questionContainer 
{ font-size: 1.5rem; 
  max-width: 400px;  
  margin: 0 auto;  
  padding: 10px;  
  text-align: center;
}

#answersContainer button {
  margin-top: 10px; 
}

#questionCount {
  margin-top: 10px; 
}

footer p {
  font-family: "Roboto-Thin";
  color: white;
  margin-left: 25%;
}

.correct {
  background-color: #4CAF50; /* Grün für richtig */
  color: white;
  animation: correctAnimation 0.5s ease;
}

.incorrect {
  background-color: #f44336; /* Rot für falsch */
  color: white;
  animation: incorrectAnimation 0.5s ease;
}

@keyframes correctAnimation {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

@keyframes incorrectAnimation {
  from { transform: scale(1); }
  to { transform: scale(0.9); }
}

